@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Light.otf);
    font-weight: 100 300;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Medium.otf);
    font-weight: 500 600;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Bold.otf);
    font-weight: 700 900;
    font-style: normal;
}

:root{
    --black: #1c1c1c;
}

body{
    font-family: 'Aeonik';
    font-weight: 400
}

p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgb(128, 128, 128)
}
ul{
    list-style-type: none;
}

.d-flex {display: flex;}

.space-btwn {justify-content: space-between;}

.container {width: 80%; max-width: 1200px; margin: auto;}


/* header */

header {background-color: var(--black); padding: 20px 0;}



/* header */

/* banner */

.banner .container {padding: 40px 0;}

.banner h2 {font-size: 57px; font-weight: 500; color: var(--black);}

.banner h4 {font-size: 25px; font-weight: 400; color: var(--black);}

.banner .container img {border-radius: 10px; width: 600px;}

.banner .container .col1 {max-width: 450px;}

/* banner */

footer{
    background-color: #1f1f1f;
    color: #e1e1e1;
    text-transform: uppercase;
}

footer .container{
    padding-top: 27px;
    padding-bottom: 27px
}

footer ul{
    text-align: left;
}

footer li{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 300
}

.title-footer{
    color: #BBBDBF;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400
}

.footer-button{
    margin-top: 20px;
}

.footer-button p a{
    background-color: white;
    border: 1px solid white;
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px;
}

.footer-button p a:hover{
    background-color: black;
    color: white;
    border: 1px solid black
}

.current-footer{
    font-weight: 700;  
}

.p-footer-button{
    white-space: nowrap;
}

.footer-terms{
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 20px;
}

.footer-wrapper{
    display: flex;
    font-size: 11px;
    line-height: 1.25em;
    color: #BBBDBF;
    text-align: center; 
    font-weight: 400;
    text-transform: none;
    max-width: 1106px;
    margin: auto;
}
.footer-wrapper .left-side { 
    width: 50%; 
    text-align: right;
}

.footer-wrapper .right-side { 
    flex-grow: 1; 
    text-align: left;
}

.footer-wrapper .left-side, .right-side {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 4px;
}

.footer-wrapper .left-side { border-right: 2px solid; }

footer img{
    width: 110px;
    margin-left: 40px;
}

.footer-img-col{
    text-align: left;
}

footer ul{
    padding: 0px;
}



@media (max-width: 992px){
 
 
    .navigation{
        display: none!important;
    }
    .footer-button p a{
        font-size: 12px;
    }
    .logo{
        margin-right: 27px;
    }
}

@media (max-width: 768px){

    .footer-button p a{
        align-self: center;
        margin-left: 0px
    }
    footer img {
        margin-left: 0px;
    }
}

@media (max-width: 576px){
    .title-footer{
        margin-top: 25px;
    }
    footer .footer-img-col, footer ul{
        text-align: center
    }
    footer .row .row > *{
        margin-bottom: 2%;
    }
}

@media (max-width: 480px){


    h2{
        font-size: 23px
    }
    .descubre h2 + p{
        font-size: 16px;
    }

    h1{
        font-size: 42px;
        line-height: 47px;
    }
  
}