@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Light.otf);
    font-weight: 100 300;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Medium.otf);
    font-weight: 500 600;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src:url(./fonts/Aeonik-Bold.otf);
    font-weight: 700 900;
    font-style: normal;
}

:root{
    --black: #1c1c1c;
}
*{padding: 0!;margin:0}

body{
    font-family: 'Aeonik';
    font-weight: 400
}

p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgb(128, 128, 128)
}
ul{
    list-style-type: none;
}

.d-flex {display: flex;}

.space-btwn {justify-content: space-between;}

.container-custom {width: 80%; max-width: 1200px; margin: auto;}




/* header */

header {background-color: var(--black); padding: 20px 0;}



/* header */

/* banner */

.banner .container-custom  {padding: 60px 0; column-gap: 20px;}

@media (max-width: 1200px){
    .banner .container-custom {flex-direction: column; justify-content: center;}
    .banner .container-custom  .col1 {width: 100%; max-width: none; text-align: center; margin: auto;}
    .banner .container-custom  .col2 {margin: auto;}
    .banner .container-custom  img {margin: auto;object-fit: cover; height: 244px; max-width: 100%;}

}
@media (max-width: 700px){
    .banner .container-custom  img {max-width: 100%; height: 244px;  }
    .banner .container-custom  h2 {font-size: 48px;}
    .banner .container-custom  h4 {font-size: 20px;}
}


.banner h2 {font-size: 57px; font-weight: 500; color: var(--black);}

.banner h4 {font-size: 25px; font-weight: 400; color: var(--black);}

.banner .container-custom  img {border-radius: 10px; width: 600px;}

.banner .container-custom  .col1 {max-width: 450px; }

/* banner */
.slick-track
{
    display: flex !important;
}
.slick-slide
{
    height: inherit !important;
}

.card span {font-size: 12.5px; font-weight: 700; color: #63666a;}

.card h4 {font-size: 23.5px; font-weight: 700; color: var(--black); margin-bottom: 0;}

.card p {color: #6e6e73;} 

/* cards 1 */

/* ARROWS CAROUSEL */


.cards1 .container-custom  .carousel   .slick-prev:before{ font-family: 'FontAwesome'; content:"\f053" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}

.cards1 .container-custom  .carousel   .slick-next:before{ font-family: 'FontAwesome'; content:"\f054" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}


.cards1 .container-custom  .carousel   .slick-prev:hover:before {background-color: #7c7c7c; color: var(--black);}

.cards1 .container-custom  .carousel   .slick-next:hover:before {background-color: #7c7c7c; color: var(--black);}


/* ARROWS CAROUSEL */




section.cards1{padding: 120px 0; background: #f7f7f7;}

.cards1 .container-custom h2 {font-size: 40px; color: #666666; font-weight: 500; text-align: center; margin-bottom: 30px;}

.carousel { column-gap: 20px; display: flex;max-width: 1200px; margin: auto; width: 100%;}

.cards1 .container-custom  .carousel  .card {padding: 30px;  max-width: 33% ;border:none; box-shadow: 0px 0px 4px rgb(195, 195, 195); border-radius: 15px; flex-direction: 
    column; align-items: start; row-gap: 10px; justify-content: flex-start; position: relative; margin: 10px 7px; 
   
}
.cards1 .container-custom  .carousel  .card img {padding: 30px 0; ; }





.cards1 .container-custom   .carousel  .card .btn-primary {background-color: var(--black);
    border: none;
    border-radius: 45px;
    padding: 10px 40px;
    font-size: 15px;
}

.cards1 .container-custom   .carousel  .card .button-div {padding-top: 10px; margin-top: auto;}



/*  cards 1 */

/* cards 2 */



/* ARROWS CAROUSEL */

.cards2 .container-custom  .carousel   .slick-prev:before{ font-family: 'FontAwesome'; content:"\f053" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}

.cards2 .container-custom  .carousel   .slick-next:before{ font-family: 'FontAwesome'; content:"\f054" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}


/* ARROWS CAROUSEL */



section.cards2{padding: 120px 0; background: white;}

.cards2 .container-custom h2 {font-size: 40px; color: #666666; font-weight: 500; text-align: center; margin-bottom: 30px;}


.cards2 .container-custom  .carousel  .card  {max-width: 33% ;border:none; box-shadow: 0px 0px 4px rgb(195, 195, 195); border-radius: 15px;  position: relative; margin: 10px 7px;  overflow: hidden;}
.cards2 .container-custom  .carousel  .card img { width: 100%; }

.cards2 .container-custom  .carousel  .card .texts {padding: 30px; height: 384px; display: flex; flex-direction: column; align-items: start; row-gap: 10px; justify-content: flex-start;}





.cards2 .container-custom   .carousel  .card .btn-primary {background-color: var(--black);
    border: none;
    border-radius: 45px;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: auto;
}

.cards2 .container-custom   .carousel  .card .button-div {padding-top: 10px; margin-top: auto;}


/*  cards 2 */




/* events */




/* ARROWS CAROUSEL */

.events .container-custom  .carousel2   .slick-prev:before{ font-family: 'FontAwesome'; content:"\f053" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}

.events .container-custom  .carousel2   .slick-next:before{ font-family: 'FontAwesome'; content:"\f054" ; color: var(--grey); color: #7c7c7c; border: 1px solid #7c7c7c; background-color: transparent; border-radius: 100%; padding: 5px 8px; font-size: 15px;}


.events .container-custom  .carousel2   .slick-prev:hover:before {background-color: #dddddd; color: var(--black); border: none;}

.events .container-custom  .carousel2   .slick-next:hover:before {background-color: #dddddd; color: var(--black); border: none;}


/* ARROWS CAROUSEL */





section.events{padding: 120px 0; background: var(--black); }

.events .container-custom {align-items: center; justify-content: space-between; column-gap: 20px;}


.events .container-custom h2 {font-size: 40px; color: white; font-weight: 500; text-align: center; margin-bottom: 30px; text-align: start;  line-height: 1.1;}
.events  .container-custom  .carousel2 { display: flex; max-width: 800px; justify-content: center; width: 66%; height: 100%; }

.events .container-custom  .carousel2  .card  {border:none;  border-radius: 15px;  position: relative; margin: 10px 7px;  overflow: hidden; }
.events .container-custom  .carousel2  .card img { width: 100%;  }

.events  .container-custom  .carousel2  .card .texts {padding: 30px; height: 100%; display: flex; flex-direction: column; align-items: start; row-gap: 10px; justify-content: flex-start;}





.events  .container-custom   .carousel2  .card .fa-arrow-right:hover {background-color: #63666a; color: black; transition: 0.5s; cursor: pointer;}

.events  .container-custom   .carousel2  .card .btn-primary {
    transition: 0.5s;
    background-color: var(--black);
    border: none;
    border-radius: 45px;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: auto;
}

.events .container-custom   .carousel2  .card .button-div {padding-top: 10px; margin-top: auto; align-items: center; width: 100%;}

.events .container-custom   .carousel2  .card .button-div p {width: 70%; color: #959595;}

.events .container-custom   .carousel2  .card .button-div i {background-color: var(--black); border-radius: 50px; padding: 15px; color: white;}


@media(max-width: 1200px){
    .events .container-custom {flex-direction: column; row-gap: 20px;}
    .events .container-custom h2 {text-align: center;}
    .events .container-custom .carousel2 {width: 100%;}
}

@media(max-width: 700px){

        .events .container-custom .carousel2 {width: 100%; max-width: 400px;}
     .carousel {width: 100%; max-width: 400px;}
}

/*  events */

/* banner2 */
.banner2 {background-color: #aaaaaa;}

.banner2 .container-custom {flex-direction: column; column-gap: 20px; margin: auto; align-items: start; padding: 120px 0;}


.banner2 .container-custom h3 {font-size: 40px; font-weight: 400 ; color: #000;}
.banner2 .container-custom h2 {font-size: 45px; font-weight: 500; color: #000; margin-bottom: 30px;}
.banner2 .container-custom button {background-color: #fff;
    border: none;
    border-radius: 45px;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: auto;
    color: #000;
    font-weight: 500;
    transition: 0.5s;
}

.banner2 .container-custom button:hover {color: #fff; background-color: #000; transition: 0.5s;}

@media (max-width: 700px){
    .banner2  .container-custom{text-align: center; align-items: center;}
    .banner2 .container-custom button {margin: auto;}
    .banner2 .container-custom  h3 {margin: auto; font-size: 34px;}
    .banner2 .container-custom  h2 {font-size: 42px;}
}

/* banner2 */

footer{
    background-color: #1f1f1f;
    color: #e1e1e1;
    text-transform: uppercase;
}

footer .container{
    padding-top: 27px;
    padding-bottom: 27px
}

footer ul{
    text-align: left;
}

footer li{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 300
}

.title-footer{
    color: #BBBDBF;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400
}

.footer-button{
    margin-top: 20px;
    border-radius: 10px!important;
}


.footer-button p a{
    background-color: white;
    border: 1px solid white;
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 8px;
}

.footer-button p a:hover{
    background-color: black;
    color: white;
    border: 1px solid black
}

.current-footer{
    font-weight: 700;  
}

.p-footer-button{
    white-space: nowrap;
}

.footer-terms{
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 20px;
}

.footer-wrapper{
    display: flex;
    font-size: 11px;
    line-height: 1.25em;
    color: #BBBDBF;
    text-align: center; 
    font-weight: 400;
    text-transform: none;
    max-width: 1106px;
    margin: auto;
}
.footer-wrapper .left-side { 
    width: 50%; 
    text-align: right;
}

.footer-wrapper .right-side { 
    flex-grow: 1; 
    text-align: left;
}

.footer-wrapper .left-side, .right-side {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 4px;
}

.footer-wrapper .left-side { border-right: 2px solid; }

footer img{
    width: 110px;
    margin-left: 40px;
}

.footer-img-col{
    text-align: left;
}

footer ul{
    padding: 0px;
}



@media (max-width: 992px){
 
 
    .navigation{
        display: none!important;
    }
    .footer-button p a{
        font-size: 12px;
    }
    .logo{
        margin-right: 27px;
    }
}

@media (max-width: 768px){

    .footer-button p a{
        align-self: center;
        margin-left: 0px
    }
    footer img {
        margin-left: 0px;
    }
}

@media (max-width: 576px){
    .title-footer{
        margin-top: 25px;
    }
    footer .footer-img-col, footer ul{
        text-align: center
    }
    footer .row .row > *{
        margin-bottom: 2%;
    }
}

@media (max-width: 480px){


    h2{
        font-size: 23px
    }
    .descubre h2 + p{
        font-size: 16px;
    }

    h1{
        font-size: 42px;
        line-height: 47px;
    }
  
}